
/* ---------- common css ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    border: 2px solid black;
}

.container{
    max-width: 1250px;
    margin: 0px auto;
    padding: 0px 30px;
    border: 2px solid red;
}

.text{
    color: #3A3A3A;
}

/* --------------- button css ------------- */
.primary-button{
    outline: 0;
    border: 0;
    font-weight: 700;
    padding: 10px 24px;
    font-size: 16px;
    background-image: linear-gradient(90deg,#c21273,#E02C6D);
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}

.primary-button i{
    margin-left: 10px;
}

/* ------------- navbar section style ----------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border: 2px solid purple;
}

.navigation{
    display: flex;
    border: 2px solid green;
}

.navigation li{
    list-style-type: none;
    margin: 10px;
    border: 2px solid gray;
}

.navigation li .fa-solid{
    font-size: 30px;
}

.navigation li a{
    display: inline-block;
    color: #3A3A3A;
    font-weight: 600;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid gray;
}

/* ----------- banner section style ------------ */
.banner{
    height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    border: 2px solid rebeccapurple;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid red;
}

.banner-left h1{
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-left p{
    color: #3A3A3A;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0px;
}

.banner-right{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.banner-right img{
    width: 80%;
    border: 2px solid red;
}