
/* ---------- common css ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    border: 2px solid black;
}

.container{
    max-width: 1250px;
    margin: 0px auto;
    padding: 0px 30px;
    border: 2px solid green;
}

.text{
    color: #3A3A3A;
}

/* --------------- button css ------------- */
.primary-button{
    outline: 0;
    border: 0;
    font-weight: 700;
    padding: 10px 24px;
    font-size: 16px;
    background-image: linear-gradient(90deg,#c21273,#E02C6D);
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}

.primary-button i{
    margin-left: 10px;
}

/* ------------- navbar section style ----------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border: 2px solid purple;
}

.navigation{
    display: flex;
    border: 2px solid green;
}

.navigation li{
    list-style-type: none;
    margin: 10px;
    border: 2px solid gray;
}

.navigation li .fa-solid{
    font-size: 30px;
}

.navigation li a{
    display: inline-block;
    color: #3A3A3A;
    font-weight: 600;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid gray;
}

/* ----------- banner section style ------------ */
.banner{
    height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    border: 2px solid rebeccapurple;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid red;
}

.banner-left h1{
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-left p{
    color: #3A3A3A;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0px;
}

.banner-right{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.banner-right img{
    width: 80%;
    border: 2px solid red;
}

/* --------------- logo section style -------------- */
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    margin-top: 50px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

/* ----------------- collection section style ---------------- */
.section-title{
    text-align: center;
    margin: 100px 0px 40px 0px;
    border: 2px solid rebeccapurple;
}

.section-title h1{
    display: inline-block;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    border: 2px solid red;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    border: 2px solid rebeccapurple;
}

.product{
    width: 330px;
    height: 475px;
    padding: 15px;
    outline: 0px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.15);
}

.photo img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

.product-detail h1{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    margin: 15px 0px 6px 0px;
}

.product-detail h2{
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.product-ratting{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.product-ratting .fa-solid{
    color: #FB8200;
    font-size: 10px;
}

.product-ratting p{
    color: #5E6366;
    font-size: 16px;
    font-family: roboto;
    font-weight: 700;
    margin-left: 10px;
}

.product-detail .product-info{
    width: 130px;
    height: 60px;
    line-height: 1.3;
    color: #787885;
    font-size: 14px;
    font-family: inter;
    font-weight: 700;
    border: 2px solid red;
}

.click-button{
    margin-top: 30px;
    text-align: right;
}

.click-button a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #E02C6D;
    border: 1px solid #FB8200;
}

.click-button i{
    margin-left: 10px;
}

/* -------------- Influencer section style ----------- */
.influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 30px;
    margin: 100px 0px; 
    border: 1px solid red;
}

.influencer-left{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.influencer-left img{
    width: 70%;
}

.influencer-right{
    border: 1px solid red;
}

.influencer-right h1{
    color: #0A0826;
    font-weight: 700;
}

.influencer-right p{
    color: #6C6C6C;
    font-weight: 700;
    font-size: 14px;
    margin: 15px 0px;
    line-height: 1.5;
}

/* ------------ footer section style --------------*/
footer{
    background-color: #0A0826;
    height: 250px;
    text-align: center;
}

.footer-info{
    padding-top: 50px;
}

.footer-info h2{
    font-weight: 700;
    color: #FFFFFF;
}

.footer-info p{
    color: #D9DBE1;
    font-weight: 700;
    font-family: manrope;
    margin-top: 5px;
}

.footer-info i{
    color: #fff;
    margin-top: 15px;
    margin-right: 15px;
}